*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
.settings
src/main/resources/jdbc.properties
.classpath
.project
.tern-project
jdbc.properties
/bin/
.idea
proxy_manage.iml
.idea/
out/
*.iml
/ssm_case_dao/target
/ssm_case_domain/target
/ssm_case_service/target
/ssm_case_utils/target
/ssm_case_web/target
/.idea
/ssm_case_web/src/main/resources/db.properties
/sell_web/target
/sell_utils/target
/sell_service/target
/sell_domain/target
target
*.iml
/sell_dao/*.iml
/sell_domain/*.iml
/sell_service/*.iml
/sell_utils/*.iml
